<!DOCTYPE html>
<html>
<head>
  <title>{{title}}</title>
</head>
<body>
  <h1>{{title}}</h1>
  <ul>
    {{#items}}
      <li>{{name}}</li>
    {{/items}}
    {{^items}}
      <li>No items available.</li>
    {{/items}}
  </ul>
</body>
</html>
